body {
  background-image: url("./assets/tron-background.png");
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color:rgb(199, 196, 196)
}

.bio {
  text-align: center;
  color: rgb(199, 196, 196);
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 4px;
  padding: 8px;
  border: 0;
  border-radius: 3px;
  
}

.connectButton {
  cursor: pointer;
  margin-top: 30px;
  padding: 8px;
  border: 0;
  border-radius: 3px;
  
}


.emojidex-emoji {
  width:4vw;
}

input { 
  line-height: 2em;
  border-radius:5px
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10vh ;
}